/*---------------------- BASE -----------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}


/*---------------------- LAYOUT -----------------------*/

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    /* Sidebar (25%) et contenu (75%) */
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar header" "sidebar main";
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Une seule colonne sur petits écrans */
        grid-template-areas: "header" "main" "sidebar";
    }
}


/*---------------------- HEADER -----------------------*/

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
    /* Afficher sur petits écrans avec media query */
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}


/*---------------------- SIDEBAR -----------------------*/

.sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263843;
    overflow-y: auto;
    transition: all 0.5s ease;
    position: relative;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}

.sidebar-title>span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin: 15px 0 0 0;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: absolute;
        width: 250px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar-responsive {
        transform: translateX(0);
    }
}


/*---------------------- MAIN -----------------------*/

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card:first-child {
    background-color: #2962ff;
}

.card:nth-child(2) {
    background-color: #ff6db0;
}

.card:nth-child(3) {
    background-color: #2e7d32;
}

.card:nth-child(4) {
    background-color: #ca3030;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner>.material-symbols-outlined {
    font-size: 45px;
}


/*---------------------- CHARTS -----------------------*/

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 60px;
}

.charts-card {
    background-color: #263043;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
}